
body {
    background-image: url("../images/qbkls/qbkls.png");
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.stinky  {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
}

.text-muted {
    color: #777777;
}

.nav-link {
    font-size: 14px;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }


/*attempts to scale and make my pictures (of different size) responsive, uniform, and not all wiggity wack. It's a process...still not there....*/  
/* .wtf {
    position: relative;
    height: 0;
    width: 100%;
  } */


/* .card-img {
    max-width: 275px;
    max-height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
} */


  /* .img-adjusted{
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    } */
/* 
  This helped default my portfolio images, but didn't work with smaller screen size */
 .card-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/* .card a {
    min-width: 50%;
    min-height: 30%
} */